@import 'base';
@import 'custom-style';
@import "main";

@import 'components/_1_feature-v12';
// @import 'components/_1_vertical-timeline';
@import 'components/_1_switch'; 
@import 'components/_2_drawer-navigation';
@import 'components/_1_anim-menu-btn';
@import 'components/_1_drawer';
// @import 'components/_1_radio-switch';
// @import 'components/_1_immersive-section-transition';
@import 'components/_1_parallax-image';
@import 'components/_1_reveal-effects';
@import 'components/_1_feature-v6';
@import 'components/_1_card-v2';
@import 'components/_1_feature-v9';
