.cd-background-wrapper {
  overflow: hidden;
  perspective: 4000px;
}

.cd-floating-background {
  transform-style: preserve-3d;
}

.cd-floating-background img:first-child {
  transform: translateZ(50px);
}

.cd-floating-background img:nth-child(2) {
  transform: translateZ(290px);
}

.cd-floating-background img:nth-child(3) {
  transform: translateZ(400px);
}