<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="yandex-verification" content="434f472721adb94d" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <link rel="stylesheet" href="https://use.typekit.net/exk3lck.css">
  <script src="https://kit.fontawesome.com/0d2ab8e6e6.js" crossorigin="anonymous"></script>

  <script src="/js/cookie.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@13.0.1/dist/lazyload.min.js"></script>
  <script>
    var lazyLoadInstance = new LazyLoad({
      elements_selector: ".lazy"
    });
  </script>

  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="/css/style.css">
  <script>
    if ('CSS' in window && CSS.supports('color', 'var(--color-var)')) {
      document.write('');
    } else {
      document.write('<link rel="stylesheet" href="/css/style-fallback.css">');
    }
  </script>
  <noscript>
    <link rel="stylesheet" href="/css/style-fallback.css">
  </noscript>
  <style>
    body {
      font-family: lato, sans-serif !important;
      font-weight: 400;
      font-style: normal;
    }

    header {
      z-index: var(--zindex-popover);
      position: absolute;
    }
  </style>
  
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
    m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(61921621, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/61921621" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163738209-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-163738209-1');
  </script>


</head>


<body>

  <header class="header no-effect js-header padding-x-xs padding-top-xs">

    <div class="header__logo">
      <a href="#0">
        <img src="/img/logo.png" height="25" alt="Таиссия Леманн">
      </a>
    </div>

  </header>

  % include(including_page, *args, **kwargs)

  <footer class="main-footer padding-y-lg">
    <div class="container max-width-lg">
      <div class="main-footer__colophon-nav">
        <span>&copy; 2020 Центр Таиссии Леманн</span><br>
      </div>

      <div class="main-footer__colophon">
        <div class="main-footer__socials links">
          <a href="https://www.instagram.com/taissia_lemann/">
            <span class="icon color-white fa-stack">
              <i class="fab fa-instagram fa-stack-1x"></i>
            </span>
          </a>
          <a href="mailto:taisiyalemann@mail.ru">
            <span class="icon color-white fa-stack">
              <i class="far fa-envelope fa-stack-1x"></i>
            </span>
          </a>
          <a href="https://telegram.me/taissialemann">
            <span class="icon color-white fa-stack">
              <i class="fab fa-telegram-plane fa-stack-1x"></i>
            </span>
          </a>
          <a href="https://wa.me/79648712401?text=Здравствуйте!%20Я%20хотел%20бы%20записаться%20на%20прием!">
            <span class="icon color-white fa-stack">
              <i class="fab fa-whatsapp fa-stack-1x"></i>
            </span>
          </a>
          <a href="viber://add?number=79648712401">
            <span class="icon color-white fa-stack">
              <i class="fab fa-viber fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </footer>


  <script src="/js/scripts.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>